// Reset
@use '../style/partials/variables.scss' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}




// Container

.container-large {
    max-width: 1422px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1172px;
    margin: 0 auto;
}

.container-small {
    max-width: 570px;
    margin: 0 auto;
}

// General
.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    flex-basis: calc(100% / 4);
}

.italics-text{
    font-style: italic;
    font-weight: 200;
    text-transform: capitalize;
    color: $secondary-color;
}


.button{
    font-size: 14px;
    font-weight: bold;
    padding: 15px 40px;
    line-height: 60px;
    border-radius: 6px;
    text-transform: capitalize;
}

.button-primary{
    color: white;
    background-color: $primary-color;
}