// Reset
@use '../style/partials/variables.scss' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Gilroy-Regular", sans-serif;
}

img{
    max-width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: $primary-color;
}


// Container

.container-xl{
    max-width: 1810px;
    margin: 0 auto;
}

.container-large {
    max-width: 1422px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1172px;
    margin: 0 auto;
}

.container-small {
    max-width: 580px;
    margin: 0 auto;
}

// General
.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    flex-basis: calc(100% / 4);
}

.col-4{
    flex-basis: calc(100% / 3);
}

.col-6{
    flex-basis: 50%;
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
}

.italics-text{
    font-family: "Rossela Demo", Sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    color: $secondary-color;
}

// Button
.button{
    font-size: 14px;
    font-weight: bold;
    padding: 15px 40px;
    line-height: 60px;
    border-radius: 6px;
    transition-duration: 0.3s;
}

.button-primary{
    color: white;
    background-color: $primary-color;
}

.button-primary:hover{
    color: white;
    background-color: $secondary-color;
}

.button-secondary{
    color: $primary-color;
    background-color: #ef703136;
}

.button-secondary:hover{
    color: white;
    background-color: $primary-color;
}